<h4>Hallo</h4>

<p>
  Terima kasih telah menggunakan aplikasi Recipe Sharing. Harap menggunakan kode dibawah ini untuk mendaftarkan akun baru atau untuk masuk ke akun anda
</p>
<h2><%= @otp %></h2>
<p>
  Kode ini hanya berlaku selama lima menit.
</p>
<p>
  Hiraukan email ini jika anda tidak melakukan registrasi atau login.>
</p>
<br>

<p>
  Terimakasih
</p>